
@font-face 
{
  font-family: Computer_Amok;
  src: url(COMPUTERAMOK.ttf);
}


/* Color Pallet

	#D7D4DD
	#838BC2
	#715C8C
	#333F63

 */



body
{
	
	background-image: linear-gradient(180deg, #D7D4DD, #838BC2);
	background-position: center;
	background-attachment: fixed;
	
	color: #333F63;
	
	text-align: left;
	
	margin-top: 5%;
	margin-bottom: 10%;
	margin-right: 10%;
	margin-left: 10%;
	
	font-family: Georgia, Times New Roman, Arial;
}

h1
{
	
	font-size: 400%;
	text-align: center;
}

body.Computer_Simulation > h1
{
	
	font-family: Computer_Amok;
	
	line-height: 1.2;
	
	border: 50% solid #838BC2;
	border-style: ridge;
	border-radius: 0.5em;
	background: linear-gradient(135deg, #D7D4DD,#838BC2);
}


p
{
	color: #D7D4DD;
	border-radius: 1em;
	background: linear-gradient(#715C8C, #333F63);
	padding: 0.5em;
	line-height: 2;
}


video 
{
  width: 55%;
  height: auto;
	display: block;
	margin: 0 auto;
	
	
	border: 0.5em;
	border-radius: 1em;
}

img
{
  width: 55%;
  height: auto;
	display: block;
	margin: 0 auto;
	
	
	border: 0.5em;
	border-radius: 1em;
}

h3, h4
{
	text-align: center;
}

body.resume > h3, body.resume > h4
{
	text-align: left;
}

body.resume > h4.email, body.resume > h3.linkedin
{
	text-align: center;
}

.navbar
{
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: sticky;
	top: 0;
	line-height: 1.5;
	
}

.navbar > p
{
	padding-top: 1.25em;
	text-align: center;
	font-size: 1.5em;
	border-radius: 2em 0em 0em 2em;
	
}

.navbar > ul, .navbar > li
{
	font-size: 1.5em;
	border-radius: 2em 0em 0em 2em;
}

.navbar > ul
{
	list-style-type: none;
	border-radius: 0em 2em 2em 0em;
	background: linear-gradient(#715C8C, #333F63);
	line-height: 2;
}

.navbar > li
{
	
	
	
}


a:link 
{
  color: #D7D4DD;
}

a:visited 
{
  color: #D7D4DD;
}