

@font-face 
{
  font-family: Computer_Amok;
  src: url(COMPUTERAMOK.ttf);
}

@font-face 
{
  font-family: carbon-black;
  src: url(carbon-black.ttf);
}

@keyframes fadein
{
	0%
	{
		opacity: 0;
	}
	
	100% 
	{
		opacity: 1;
	}
}

@keyframes hoverover
{
	0%
	{
		background-color: #715C8C;
	}
	100% 
	{
		background-color: #333F63;
	}
}

/* Color Pallet

	#D7D4DD
	#838BC2
	#715C8C
	#333F63

 */



body
{
	
	background-image: linear-gradient(180deg, #D7D4DD, #838BC2);
	background-position: center;
	background-attachment: fixed;
	
	color: #333F63;
	
	text-align: left;
	
	line-height: 2;
	
	font-family: Georgia, "Times New Roman", Arial;
}

body > *
{
	margin-right: 10%;
	margin-left: 10%;
}

h1
{
	animation: fadein 1s;
	font-size: 400%;
	text-align: center;
}

body > *
{
	margin-bottom: 1.25%;
	margin-top: 1.25%;
}

body.Computer_Simulation > h1
{
	
	font-family: Computer_Amok;
	
	line-height: 1.2;
	
	border: 0.07em solid #838BC2;
	border-style: ridge;
	border-radius: 0.5em;
	background: linear-gradient(135deg, #D7D4DD,#838BC2);
}


body.Mandelbrot > p, body.Computer_Simulation > p
{
	color: #D7D4DD;
	border-radius: 1em;
	background: linear-gradient(#715C8C, #333F63);
	padding: 0.5em;
	line-height: 2;
}



video 
{
  width: 35%;
  height: auto;
	display: block;
	margin: 0 auto;
	
	
	border: 0.5em;
	border-radius: 1em;
}

img
{
  width: 35%;
  height: auto;
	display: block;
	margin: 0 auto;
	
	
	border: 0.5em;
	border-radius: 1em;
}

h2
{
	font-size: 175%;
}


h3, h4
{
	text-indent:1em;
	text-align: center;
	font-size: 125%;
}

ul
{
	padding-left: 2em;
	
}

body.resume > h3, body.resume > h4
{
	text-align: left;
}

body.resume > h4.email, body.resume > h3.linkedin
{
	text-align: center;
}

body.resume > h3.linkedin
{
	color: #D7D4DD;
	border-radius: 1em;
	background: linear-gradient(#715C8C, #333F63);
	padding: 0.5em;
	margin-left:20%;
	margin-right:20%;
	line-height: 2;
}


.navbar
{
	margin-top: 0;
	margin-bottom: 2%;
	margin-right: 2%;
	margin-left: 2%;
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: sticky;
	top: 0.25em;
	
}

.navbar > p
{
	font-family:carbon-black, Arial;
	
	margin-top: 0em;
	margin-bottom: 1em;
	
	margin-left: 4em;
	margin-right: 0em;
	
	padding-top: 0.35em;
	padding-right: 4%;
	text-align: right;
	font-size: 2em;
	border-radius: 1em 0em 0em 1em;
	
	background: linear-gradient(#715C8C, #333F63);
	
	line-height: 2;
	
	color: #D7D4DD;
}

.navbar > ul, .navbar > li
{
	
	
	
	font-family:carbon-black, Arial;
	
	font-size: 1em;
	border-radius: 1em 0em 0em 1em;
}

.navbar > ul
{
	
	margin-top: 0em;
	margin-bottom: 2em;
	
	margin-left: 0em;
	margin-right: 4em;
	
	padding-top: 0%;
	padding-bottom: 0%;
	padding-left: 0em;
	list-style-type: none;
	border-radius: 0em 1em 1em 0em;
	background: linear-gradient(#715C8C, #333F63);
	line-height: 2;
}

a:link 
{
  color: #D7D4DD;
}

a:visited 
{
  color: #D7D4DD;
}
a:hover 
{
	color: #8ebf42;
}

ul.Nav > li:hover
{
	margin-right: 0.5em;
	margin-left: 0.5em;
	
	padding-left: 0.5em;
	border-radius: 0.5em;
	animation: hoverover 2s;
	background-color: #333F63;
	
}


